.okvir {

	display: grid;
	grid: [r1-start]"a d"[r1-end]
	[r2-start]"b e"[r2-end]
	[r3-start]"c f"[r3-end]
	[r4-start]"g h"[r4-end];
	margin: auto;
	padding: 30px;
	max-width: 1000px;
	overflow: hidden;
	border: 5px solid #E4FDE1;
	background-color: #028090;
	background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png");
	grid-row-gap: 15px;
	grid-column-gap: 15px;
}

button {

	background-color: #D8262E;
	color: #FDFFFC;
	padding: 5px;
	border: 2px solid #E4FDE1;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15pt;
	width: 100%;
	height: 100%;
}

#poruka{

	grid-row: 4;
	grid-column: 1/3;
}

input {

	font-size: 12.5pt;
	border: none;
	border-bottom: 4px solid #D8262E;
	background-color: #E4FDE1;
	font-family: sans-serif;
	line-height: 2em;
}

@media(max-width: 700px) {

	.okvir {
		height: 100%;
		display: grid;
		grid: [r1-start] "a" [r1-end]
		[r2-start] "b" [r2-end]
		[r3-start] "c" [r3-end]
		[r4-start] "d" [r4-end]
		[r5-start] "e" [r5-end]
		[r6-start] "f" [r6-end]
		[r6-start] "g" [r6-end];
	}

	#poruka{

		grid-row: 7;
		grid-column: 1;
	}
}